@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.frame-border {
    margin: auto;
    width: 330px;
    /* padding-top: 30px; */
    height: 577px;
    outline: none;
    border: 1px solid black;
    border-radius: 2px;
    position: absolute;
   
    top: 100px;
    background-repeat: no-repeat;
    background-image: url(../css/warmup.png);
    background-size: cover

}
.fit_main {
    margin: auto;
    justify-content: center;
    /* position: relative; */
    justify-items: center;
    padding-left: 41%;
}
.heading{
    font-size: 51px;
    font-family: 'Poppins', sans-serif;
    padding-top: 42px;
    text-align: center;
    color: white;
}
.timer {
    font-size: 51px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    padding-bottom: 26px;
    color: #ceff45;
    font-weight: 900;
}
.elapsed{
    width: 111px;
    border-radius: 11px;
    height: 69px;
    left: 27px;
    position: absolute;
    /* position: relative; */
    border: 1px solid #ffffff;
    /* left: 29px; */
}

.timer2{
    text-align: center;
    font-size: 27px;
    color: #ceff45;
    font-family: 'Poppins', sans-serif;
    /* font-weight: lighter; */
    padding-left: 17px;
}
.heading2{
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    color: #ceff45;
    top: -20px;
    position: relative;
    font-family: 'Poppins', sans-serif;
}
.remain{
    width: 111px;
    border-radius: 11px;
    height: 69px;
    position: absolute;
   
    right: 28px;
    border: 1px solid #ffffff;
}

.timer3{
    text-align: center;
    font-size: 27px;
    color: #ceff45;
    font-family: 'Poppins', sans-serif;
    /* font-weight: lighter; */
    padding-left: 18px;
}
.heading3{
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    color: #ceff45;
    top: -20px;
    position: relative;
    font-family: 'Poppins', sans-serif;
}
.boxes{
    display: flex;
}

.workout{
    color: white;
}
.workout-heading{
    display: flex;
    justify-content: center;
    margin-top: 110px;
    font-weight: bold;
}
.workout-count{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#hr {
    color: #ceff45;
    opacity: 0.25; 
  }
  .bg-danger {
    background-color: #f9f9f9 !important;
    height: 2px;
    position: relative;
    top: 243px;
}
.pause{
    display: flex;
}
.left{
       /* top: 118px; */
       bottom: 107px;
       left: 4px;
       padding: 15px 14px 14px 18px;
       border-radius: 11px;
       position: absolute;
       color: #ceff45;
       border: 2px solid #ceff45;
}
.left:hover{
    background-color :#ceff45;
    color: black;
}
.right{
         /* top: 118px; */
         bottom: 107px;
         right: 4px;
         padding: 15px 14px 14px 18px;
         border-radius: 11px;
         position: absolute;
         color: #ceff45;
         border: 2px solid #ceff45;
}
.right:hover{
    background-color :#ceff45;
    color: black;
}
.pausebtn{
    bottom: 108px;
    right: 55px;
    position: absolute;
}
.pause-des{
    border: 2px solid #ceff45;
    background: none;
    width: 218px;
    border-radius: 11px;
    color:#ceff45;
    height: 46px;
}
.pause-des:hover{
    background-color :#ceff45;
    color: black;
}
.keylock {
    color: white;
    padding: 10px 15px 10px 15px;
    font-size: 25px;
    border-radius: 23px;
    border: 2px solid #ceff45;
}
.lock{
    bottom: 17px;
    left: 139px;
    position: absolute;
}
.keylock:hover{
    color: #000000;
}

.lock:hover{
   background-color: #ceff45;
   color: #000000;
   border-radius: 23px;
}
